div{
    margin:auto;
}

button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 0.9em;
    font-weight: 600;
    color: #2d3748;
    border: 1px solid #cbd5e0;
    line-height: 7px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    margin:5px;
}

.content-div{
    margin-top: 25px;
    background-color:  rgb(255, 115, 115);
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    max-width: 400px;
    padding: 12px 15px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}